.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}

.hidden-xs {
	display: none !important;
}

.visible-xs {
	display: block !important;
}

@media screen and (min-width: 769px) {

	.hidden-xs {
		display: block !important;
	}

	.visible-xs {
		display: none !important;
	}
}

#col-left {
	float: left;
}

#col-right {
	overflow: visible;
}

.form-wrap label {
	font-weight: 700;
}

.form-wrap .form-field {
	margin-bottom: 0;
}

.form-wrap > p.submit {
	margin-top: 10px;
	display: block;
}

.filter-bar { margin-bottom:5px; }
.filter-bar #post-query-submit {
	margin-top:0;
	padding: 0 15px 1px;
	height: 28px !important;
}
.wp-admin select[multiple].chosen {
	width:37.5%;
	height:29px;
	margin:0;
	padding:0;
}
.chosen-container {
	width:37.5% !important;
	vertical-align: top;
}
.chosen-container#tag_chosen { width: 75.4% !important; }
.chosen-container-multi .chosen-choices { border-color: #ddd; }

.nav-tabs {
	border-bottom: 1px solid #ccc;
	padding-bottom: 0;
	padding-left: 10px;
	font-weight: 700;
}

.nav-tab {
	padding: 0;
}

.nav-tab > a {
	color: #000;
	text-decoration: none;
	padding: 4px 14px 6px;
	display: block;
}

.nav-tab > a:focus {
	box-shadow: none;
}

.nav-tab.active, .nav-tab:hover {
	border-bottom: 1px solid #f1f1f1;
	background: #f1f1f1;
}

.tab-content > .tab-pane { display: none; }
.tab-content > .tab-pane.active { display: block; }