.mpl * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.mpl .clearfix:before,
.mpl .clearfix:after {
  display: table;
  content: " ";
}
.mpl .clearfix:after {
  clear: both;
}

.mpl .hidden-xs {
  display: none !important;
}

.mpl .visible-xs {
  display: block !important;
}

.mpl .text-right {
  text-align: right !important;
}

@media screen and (min-width: 769px) {

  .mpl .hidden-xs {
    display: block !important;
  }

  .mpl .visible-xs {
    display: none !important;
  }
}

.mpl #mpl-logo img {
  vertical-align: top;
}

.mpl a .dashicons {
  text-decoration: none;
}

.mpl #col-left {
  float: left;
}

.mpl #col-right {
  overflow: visible;
}

.mpl .form-wrap label {
  font-weight: 700;
  line-height: 22px;
}

.mpl .form-wrap label .dashicons {
  color: #666;
}

.mpl .form-wrap .form-field {
  margin-bottom: 0;
}

.mpl .form-wrap > p.submit {
  margin-top: 10px;
  display: block;
}

.mpl .filter-bar {
  float: left;
  width: 80%;
}
.mpl #post-query-submit {
  float: right;
  width: 18%;
  margin-top:0;
  padding: 0 0 1px;
  height: 28px !important;
  margin: 0;
}
.mpl select[multiple].chosen {
  width:50%;
  float: left;
  height:29px;
  margin:0 0 5px !important;
}
.mpl .chosen-container {
  width:50% !important;
  float: left;
  padding: 0 2px;
  margin:0 0 5px;
  vertical-align: top;
}
.mpl .chosen-container-multi .chosen-choices { border-color: #ddd; }

.mpl .widefat thead th.check-column,
.mpl .widefat tfoot th.check-column {
  vertical-align: middle;
  padding: 3px 0 0 3px;
}

.mpl .widefat tbody .dashicons {
  margin-right: 6px;
}

.mpl .nav-tabs {
  border-bottom: 1px solid #ccc;
  padding: 0;
  margin: 14px 0 12px;
  width: 100%;
}

.mpl .nav-tabs li {
  display: inline-block;
  margin-bottom: -1px;
  line-height: 35px;
}

.mpl .nav-tab {
  font-weight: 700;
  padding: 0;
  margin-left: 0;
  margin-right: 0.5em;
}

.mpl .nav-tab > a {
  color: #000;
  text-decoration: none;
  padding: 0 14px;
  display: block;
}

.mpl .nav-tab > a:focus {
  box-shadow: none;
}

.mpl .nav-tab.active,
.mpl .nav-tab:hover {
  border-bottom: 1px solid #f1f1f1;
  background: #f1f1f1;
}

.mpl .tab-content > .tab-pane { display: none; }
.mpl .tab-content > .tab-pane.active { display: block; }

.mpl .theme-browser {
  margin-left: -4%;
}

.mpl .theme-browser .theme {
  width: 46%;
  margin-right: 0;
  margin-left: 4%;
}

.mpl .theme-browser .theme .theme-screenshot:after {
  padding-top: 0;
  margin-top: -5px;
}

.mpl .theme-browser .theme .theme-screenshot img {
  position: static;
}

.mpl .tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  filter: alpha(opacity=0);
  opacity: 0;

  line-break: auto;
}
.mpl .tooltip.in {
  filter: alpha(opacity=90);
  opacity: .9;
}
.mpl .tooltip.top {
  padding: 5px 0;
  margin-top: -3px;
}
.mpl .tooltip.right {
  padding: 0 5px;
  margin-left: 3px;
}
.mpl .tooltip.bottom {
  padding: 5px 0;
  margin-top: 3px;
}
.mpl .tooltip.left {
  padding: 0 5px;
  margin-left: -3px;
}
.mpl .tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: 4px;
}
.mpl .tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.mpl .tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.mpl .tooltip.top-left .tooltip-arrow {
  right: 5px;
  bottom: 0;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.mpl .tooltip.top-right .tooltip-arrow {
  bottom: 0;
  left: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.mpl .tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000;
}
.mpl .tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000;
}
.mpl .tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
.mpl .tooltip.bottom-left .tooltip-arrow {
  top: 0;
  right: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
.mpl .tooltip.bottom-right .tooltip-arrow {
  top: 0;
  left: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}