.mpl .clearfix:before,
.mpl .clearfix:after {
  display: table;
  content: " ";
}
.mpl .clearfix:after {
  clear: both;
}

.mpl .hidden-xs {
	display: none !important;
}

.mpl .visible-xs {
	display: block !important;
}

.mpl .text-right {
	text-align: right !important;
}

@media screen and (min-width: 769px) {

	.mpl .hidden-xs {
		display: block !important;
	}

	.mpl .visible-xs {
		display: none !important;
	}
}

/* HOME */
.mpl.about-wrap .hero-home {
  padding: 20px;
  background: url(../imgs/home-bg.jpg) no-repeat 50%;
  background-size: cover;
  position: relative;
}

.mpl.about-wrap h1 {
  color: #fff;
}

.mpl.about-wrap .about-text {
  margin-bottom: 0;
  color: #fff;
}

.mpl #mpl-logo {
  background:url(../imgs/mpl-logo-30x30.png) no-repeat left center;
  padding-left: 35px;
}

.mpl a .dashicons {
  text-decoration: none;
}

.mpl #col-left {
	float: left;
}

.mpl #col-right {
	overflow: visible;
}

.mpl .form-wrap label {
	font-weight: 700;
  line-height: 22px;
}

.mpl .form-wrap label .dashicons {
  color: #666;
}

.mpl .form-wrap .form-field {
	margin-bottom: 0;
}

.mpl .form-wrap > p.submit {
	margin-top: 10px;
	display: block;
}

.mpl .filter-bar { margin-bottom:5px; }
.mpl .filter-bar #post-query-submit {
	margin-top:0;
	padding: 0 15px 1px;
	height: 28px !important;
}
.mpl select[multiple].chosen {
	width:37.5%;
	height:29px;
	margin:0;
	padding:0;
}
.mpl .chosen-container {
	width:37.5% !important;
	vertical-align: top;
}
.mpl .chosen-container-multi .chosen-choices { border-color: #ddd; }

.mpl .widefat thead th.check-column,
.mpl .widefat tfoot th.check-column {
	vertical-align: middle;
	padding-top: 3px;
}

.mpl .widefat tbody .dashicons {
  margin-right: 6px;
}

.mpl .nav-tabs {
	border-bottom: 1px solid #ccc;
	padding: 0;
  margin: 14px 0 12px;
  width: 100%;
}

.mpl .nav-tabs li {
  display: inline-block;
}

.mpl .nav-tab {
  font-weight: 700;
	padding: 0;
}

.mpl .nav-tab > a {
	color: #000;
	text-decoration: none;
	padding: 4px 14px 6px;
	display: block;
}

.mpl .nav-tab > a:focus {
	box-shadow: none;
}

.mpl .nav-tab.active,
.mpl .nav-tab:hover {
	border-bottom: 1px solid #f1f1f1;
	background: #f1f1f1;
}

.mpl .tab-content > .tab-pane { display: none; }
.mpl .tab-content > .tab-pane.active { display: block; }

.mpl .theme-browser .theme {
  width: 46%;
}

.mpl.about-wrap .theme-browser .theme {
  width: 22%;
}

.mpl.about-wrap .theme-browser .theme:nth-child(3n) {
  margin-right: 4%;
}

.mpl.about-wrap .theme-browser .theme:nth-child(4n) {
  margin-right: 0;
}

.mpl.about-wrap .theme-browser .theme .theme-screenshot:after {
  padding-top: 368px;
}

.mpl .tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  filter: alpha(opacity=0);
  opacity: 0;

  line-break: auto;
}
.mpl .tooltip.in {
  filter: alpha(opacity=90);
  opacity: .9;
}
.mpl .tooltip.top {
  padding: 5px 0;
  margin-top: -3px;
}
.mpl .tooltip.right {
  padding: 0 5px;
  margin-left: 3px;
}
.mpl .tooltip.bottom {
  padding: 5px 0;
  margin-top: 3px;
}
.mpl .tooltip.left {
  padding: 0 5px;
  margin-left: -3px;
}
.mpl .tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: 4px;
}
.mpl .tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.mpl .tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.mpl .tooltip.top-left .tooltip-arrow {
  right: 5px;
  bottom: 0;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.mpl .tooltip.top-right .tooltip-arrow {
  bottom: 0;
  left: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.mpl .tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000;
}
.mpl .tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000;
}
.mpl .tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
.mpl .tooltip.bottom-left .tooltip-arrow {
  top: 0;
  right: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
.mpl .tooltip.bottom-right .tooltip-arrow {
  top: 0;
  left: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}