@font-face {
    font-family: 'Source Sans Pro';
    font-weight: normal;
    font-style: normal;
    src: url('./sourcesans-regular.ttf');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-style: normal;
    src: url('./sourcesans-bold.ttf');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: normal;
    font-style: italic;
    src: url('./sourcesans-italic.ttf');
}

@font-face {
    font-family: 'Playfair Display';
    font-weight: 500;
    font-style: normal;
    src: url('./playfair-bold.ttf');
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    color:#222;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
}

h1.chapter-title {
    margin: 2em 0 1em;
    text-align: center;
    font-size: 2.2rem;
}

h2 {
    color: #ba3925;
    font-size: 1.4rem;
    margin: 1.8rem 0 1rem;
}

a {
    color: #ba3925;
}

p {
    line-height: 1.6rem;
    margin-bottom: 1.6rem;
}

p i, p em {
    font-style: italic;
}

/* https://codex.wordpress.org/Styling_Images_in_Posts_and_Pages */
img.alignright { float:right; margin:0 0 1em 1em }
img.alignleft { float:left; margin:0 1em 1em 0 }
img.aligncenter { display: block; margin-left: auto; margin-right: auto }
a img.alignright { float:right; margin:0 0 1em 1em }
a img.alignleft { float:left; margin:0 1em 1em 0 }
a img.aligncenter { display: block; margin-left: auto; margin-right: auto }
figure.alignright { float:right; margin:0 0 1em 1em }
figure.alignleft { float:left; margin:0 1em 1em 0 }
figure.aligncenter { display: block; margin-left: auto; margin-right: auto }

.zp-Zotpress > span { display: none; }