@font-face {
    font-family: 'Crimson';
    font-weight: normal;
    font-style: normal;
    src: url('./crimson-regular.ttf');
}

@font-face {
    font-family: 'Crimson';
    font-weight: 700;
    font-style: normal;
    src: url('./crimson-bold.ttf');
}

@font-face {
    font-family: 'Crimson';
    font-weight: normal;
    font-style: italic;
    src: url('./crimson-italic.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 500;
    font-style: normal;
    src: url('./montserrat-bold.ttf');
}

body {
    font: normal 1rem 'Crimson', serif;
    color:#222;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

h1.chapter-title {
    margin: 2em 0 1em;
    text-align: center;
    font-size: 2.2rem;
}

h2 {
    font-size: 1.4rem;
    margin: 1.8rem 0 1rem;
}

p {
    line-height: 1.6rem;
    margin-bottom: 1.6rem;
}

p i, p em {
    font-style: italic;
}

/* https://codex.wordpress.org/Styling_Images_in_Posts_and_Pages */
img.alignright {float:right; margin:0 0 1em 1em}
img.alignleft {float:left; margin:0 1em 1em 0}
img.aligncenter {display: block; margin-left: auto; margin-right: auto}
a img.alignright {float:right; margin:0 0 1em 1em}
a img.alignleft {float:left; margin:0 1em 1em 0}
a img.aligncenter {display: block; margin-left: auto; margin-right: auto}